*{
	position: relative;
	box-sizing: border-box;
}
html,body{
	font-family: '微軟正黑體';	
}
h3,p{
	margin: 0;
	padding: 0;
}

.image-container{
	width: 400px;
	height: 300px;
	border: 1px solid #000;
	overflow: hidden;
}
.image-container img{
	display: block;
	width: 100%;
}
.bg-image{
	width: 400px;
	height: 300px;
	border: 1px solid #000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.logo1{
	/*border: 1px solid #000;*/
	display: inline-block;
	vertical-align: top;
}
.logo1 img{
	display: block;
	width: 100%;
}
.logo2{
	/*border: 1px solid #000;*/
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 48px;
	background-image: url('../images/logo.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.outter{
	width: 600px;
	border: 1px solid #000;
}
.fm-image{
	width: 100%;
	/*height: 75%;*/
	padding-top: 75%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fm-image-container{
	width: 100%;
	display: block;
}
.fm-image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
}
.fm-image-ratio-2-3:before{
	padding-top: 150%;
}
.fm-image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* thumbnail */
.thumbnail{
	/*width: 300px;*/
}
.thumbnail .content{
	padding: 16px 0;
}
.thumbnail .title{
	font-size: 18px;
	margin-bottom: 16px;
}
.thumbnail .title a{
	color: #333333;
	text-decoration: none;
	line-height: 24px;
}
.thumbnail .description{
	text-align: justify;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
}

/* Grid */
.col{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding: 0 12px;
}